# I'm making my ***first*** Jupyter Notebook!

In [2]:
print("This is my first notebook!")

This is my first notebook!

## I LOVE MARKDOWN!!
### YIPPEE

Specifying my first variable, INTEGER, which has the value 12.

In [31]:
#set INTEGER to equal 12
INTEGER=8

In [6]:
print(INTEGER)

12

In [8]:
#set floating poit to 12.0
FLOAT_PT=12.0

In [34]:
#print INTEGER and FLOAT_PT
print(INTEGER, FLOAT_PT)

8 12.0

In [10]:
#set STRING 
STRING="The integer is"

In [33]:
print(STRING, INTEGER)

The integer is 8

In [12]:
#Print sum
print ("The sum is", INTEGER + FLOAT_PT)

The sum is 24.0

In [24]:
STRING2='THIS IS A STRING.\n\n\n'
STRING3="THIS IS \t\t\t ALSO A STRING."
print(STRING2,STRING3)

THIS IS A STRING.


 THIS IS 			 ALSO A STRING.

### APPLYING METHODS FOR THE FIRST TIME!!!!!!!!!!!

In [26]:
print(STRING)

The integer is

In [27]:
print(STRING.title())

The Integer Is

In [28]:
print(STRING.upper())

THE INTEGER IS

In [29]:
print(STRING.lower())

the integer is

In [35]:
#put a variable in a string!
print(f"The integer is {INTEGER}, my favorite integer".upper())

THE INTEGER IS 8, MY FAVORITE INTEGER

# IN CLASS EXERCISE

In [37]:
#set FIRST NAME to equal JUHI
FNAME="Juhi"

In [38]:
#set LAST NAME to equal RAWAl
LNAME="Rawal"

In [39]:
#set AGE to equal 21
AGE=21

In [42]:
INTRO=(f"My name is {FNAME} {LNAME} and I am {AGE} years old")

In [41]:
print(INTRO.upper())

MY NAME IS JUHI RAWAL AND I AM 21 YEARS OLD

# making list! 0 based like array

In [43]:
# create list
STUDENTS=['sariyah', 'elie', 'juhi', 'kena', 'lu', 'caroline', 'jon', 'shari', 'hasita']

In [44]:
#whom?
print(STUDENTS)

['sariyah', 'elie', 'juhi', 'kena', 'lu', 'caroline', 'jon', 'shari', 'hasita']

In [45]:
#who's first?
print (STUDENTS [0])

sariyah

# nesting my lists

In [56]:
#create nested list
MY_NEST=[[1,2,3,4],['Juhi', 'has', 'a', 'cat'], ['Coding', 'is', 'life']]

In [57]:
#index into nested list
print (MY_NEST[0], MY_NEST[1], MY_NEST[2])

[1, 2, 3, 4] ['Juhi', 'has', 'a', 'cat'] ['Coding', 'is', 'life']

In [58]:
#index into indivual element in nested list
print("Coding is making me question my", MY_NEST[1][3])

Coding is making me question my cat

Lists are mutable. we can change them. I want to add to my list using append. and remove with pop!

In [68]:
#append method
STUDENTS.append('Brenna')
print(STUDENTS)

['sariyah', 'elie', 'juhi', 'kena', 'lu', 'caroline', 'jon', 'shari', 'hasita', 'Brenna']

In [69]:
#pop method
POPPED=STUDENTS.pop(9)
print(STUDENTS)

['sariyah', 'elie', 'juhi', 'kena', 'lu', 'caroline', 'jon', 'shari', 'hasita']

In [70]:
print(POPPED)

Brenna

Reverse order of list using reverse method.

In [72]:
#reverse method
STUDENTS.reverse()
print(STUDENTS)

['hasita', 'shari', 'jon', 'caroline', 'lu', 'kena', 'juhi', 'elie', 'sariyah']

In [101]:
BALONEY='oscar' #new string var
BALONEY_LIST=[] #empty list
print(BALONEY)
print(BALONEY_LIST)
#balogna is intentionally misspelled because it's a fake word

oscar
[]

In [81]:
#loop thru string to make list
for CHAR in BALONEY: #for variable CHAR in the variable BALONEY
    BALONEY_LIST.append(CHAR)
#lack of indent ends loop
print(f"my baloney has a name! it's {BALONEY_LIST}.")

my baloney has a name! it's ['o', 's', 'c', 'a', 'r'].

In [84]:
print(FNAME) 
print('The first letter of my name is:', FNAME[0])

Juhi
The first letter of my name is: J

In [91]:
#slicing many characters from a string at once
FULLNAME='Juhi Rawal'
print(FULLNAME)
NEW_FIRST=FULLNAME[0:4] #characters 0-3, not including 4
print(NEW_FIRST)
NEW_LAST=FULLNAME[5:10] #characters 5-9, not including 10
print(NEW_LAST)

Juhi Rawal
Juhi
Rawal

In [100]:
# slicing a list
ELEMENTS= [['fluorine','F'],
           ['chlorine','Cl'],
           ['helium', 'He']]
print(ELEMENTS)
#slice last 2
ELEMENTS[-2:]

[['fluorine', 'F'], ['chlorine', 'Cl'], ['helium', 'He']]

[['chlorine', 'Cl'], ['helium', 'He']]