### Work done in class, Nov 13th, 2025

In [1]:
# print to standard out
print ("Practicing printing")

Practicing printing

In [4]:
#set a variable equal to the integer 8
INTEGER=8
print(INTEGER)

8

In [8]:
# multiple variables at once with esc chars
NAME="JUHI \n\t RAWAL"
print (INTEGER,NAME)

8 JUHI
	 RAWAL

# LOOPS!!!

In [11]:
#learning
CODE = "CODE"
print (CODE[0])
print (CODE[1])
print (CODE[2])
print (CODE[3])

C
O
D
E

Syntax of a loop

For element in list/string run commands

In [15]:
# for element in string print each char
for char in CODE:
    print (char)

C
O
D
E

In [16]:
# reset variable and print to confirm
NAME="JUHI"
print (NAME)

JUHI

In [29]:
COUNTER=0

for char in NAME: #do this for each char in name
    COUNTER= COUNTER+1 #increase counter by 1
print (f"There are {COUNTER} characters in my name") # use f to print with var
print ("There are", COUNTER, "characters in my name") # use cycling in and out of string

There are 4 characters in my name
There are 4 characters in my name

### len

len creates ${#array[@]}

In [32]:
print(len(NAME))
#Nesting commands
LENGTH=len(NAME)
print(LENGTH)

4
4

In [36]:
#before using len in a loop
for NUM in range (1,4):
    print(NUM)

1
2
3

In [37]:
#Using len in a loop
LENGTH=len(NAME)
for NUM in range(LENGTH):
    print(NUM)

0
1
2
3

In [59]:
J="JUHI"
for i in range (3): #for 0,1,2
    print(J[i])

J
U
H

In [62]:
FULLNAME="JUHI" +"RAWAL" #concat 2 strings
print (FULLNAME)

REVERSE=''
for CHAR in FULLNAME:
    REVERSE =CHAR +REVERSE

print (REVERSE)

JUHIRAWAL
LAWARIHUJ

When I concatenate, the order of strings matters.

# Conditionals

if, else, elif

In [65]:
AGE=19 #set var
if AGE>=18: #if the age is more or equal to 18
    print("adult")
elif 12<AGE<18:
    print ("teen")
else:
    print ("child")

adult

In [69]:
#read entire file using with open()
FILENAME= '/home/shared/FA25_coding/intro_files/letters.txt'

SyntaxError: incomplete input (3729967140.py, line 2)